<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e876">  <td>19/06/08 10:43:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppBase.startBrowser()[pri:0, instance:TestPack.AppTest@580929]">&gt;&gt;startBrowser</td> 
<td>&nbsp;</td>  <td>main@4088664</td>   <td></td> </tr>
<tr bgcolor="f09bb1">  <td>19/06/08 10:43:25</td>   <td>5297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.searchOnApp()[pri:0, instance:TestPack.AppTest@580929]">searchOnApp</td> 
  <td>main@4088664</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/06/08 10:43:25</td>   <td>5397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AppBase.closeBrowser(org.testng.ITestResult)[pri:0, instance:TestPack.AppTest@580929]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@4088664</td>   <td></td> </tr>
</table>
